
/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* debug rules */

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0 0 20px;
    color: #ccc;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Header */

.logo img {
    height: 60px;
    border-right: 1px solid #ccc;
    padding-right: 20px;
}

/* Navigation menu */

nav {
    margin: 25px 0;
}

ul li {
    display: inline-block; 
    margin-right: 5px;  
}
a {
    text-decoration: none;
    color: rgb(161, 160, 160);
    font-size: 15px;
}

/* Jumbotron */
.jumbotron {
    margin:20px 0;
    background-image: url(../img/banner.jpg);
    height: 439px;
    background-position: center;
    padding:280px 345px 15px 37px;
    color: white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.315);
}

.jumbotron-title {
    font-size: 27px;
    color: white;
}

/* Content */

.title {
    height: 60px;
    margin-bottom: 20px;
    /* debug rules */
    background-color: rgb(156, 217, 245);
}

.content{
    padding-bottom: 20px;
    /* debug rules */
    background-color: rgb(6, 141, 252); 
 
}

.column {
    width: 50%;
    float: left;
    /* debug rules */
    background-color:rgb(156, 217, 245);
    height: 700px;
    
}

.column.side-column{
    width: 23%;
    margin: 0 1%;
    /* debug rules */
    height: 700px;
    
}

/* Footer */

footer {
    margin-top: 10px;
     /* debug rules */
     height: 50px;
    background-color: rgb(198, 46, 245);
}
