
/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0 0 20px;
    color: #ccc;
    max-width: 1000px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Header */

.logo img {
    height: 60px;
    border-right: 1px solid #ccc;
    padding-right: 20px;
}

/* Navigation menu */

nav {
    margin: 25px 0;
}

ul li {
    display: inline-block; 
    margin-right: 5px;  
}
a {
    text-decoration: none;
    color: rgb(161, 160, 160);
    font-size: 15px;
}

/* Jumbotron */

.jumbotron {
    margin:20px 0 0;
    background-image: url(../img/banner.jpg);
    height: 440px;
    background-position: center;
    color: white;
    border-radius: 10px;
    position: relative;
    display: block;
}

.jumbotron-text {
    padding: 0 30% 0 50px;
    position: absolute;
    bottom: 0;
    margin-bottom: 60px;
    z-index: 1;
}

.jumbotron-title {
    font-size: 27px;
    color: white;
}

.jumbotron::after {
    content:"";
    background-color: black;
    opacity: 10%;
    width: 100%;
    height: 100%;
    position:absolute; 
    border-radius: 10px;
}

/* Title */

.title {
    margin-top: 35px;
    margin-bottom: 35px;
}

.title h1 {
    font-size: 35px;
    font-weight: 700;
    color: black;
}

.subtitle {
    font-size: 18px;
}

/* Columns */

.content{
    padding-bottom: 20px;
}

.column {
    float: left; 
}

.column.center {
    width: 50%;
    margin: 0 2%;
}

.column.side-column {
    width: 23%;
}

.column-title {
    color: rgb(46, 45, 45);
    margin: 10px 0;
}
.img {
   height: 150px;
   position:relative;
   overflow: hidden;
}

.img img {
    width: 100%;
    position:absolute;
}

.center.img img {
    width: 114%;
    top: -81px;
    left: -47px;
}

.left.img img {
    width: 82%;
    top: -9px;
}

.left.img::after {
    content: "";
    background-color: black;
    opacity: 10%;
    width: 100%;
    height: 100%;
    position:absolute; 
    border-radius: 10px;
}

.center.img::after {
    content:"";
    background-color: black;
    opacity: 10%;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
}

.right.img::after {
    content:"";
    background-color: black;
    opacity: 10%;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
}

.right.img img{
    width: 122%;
    top: -7px;
    left: -34px;
}


/* Footer */
footer {
    margin-top: 15px;
    text-align: center;
    color: black;
}
.heart {
    color: red;
    font-size: 20px;
}
